{% extends "base_no_turbo.html" %}

{% block main_content %}
<body>
    <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('contacts_bp.contacts') }}">Contacts</a></li>
          <li><a href ="{{url_for('deals_bp.deals')}}">Deals</a></li>
          <li><a href="{{ url_for('teams.team') }}">Team</a></li>
          <li class="dropdown">
            <a href="#">Profile</a>
            <ul class="dropdown-menu">
                <li><a onclick="logout();" href="{{ url_for('auth.profile') }}">Logout</a></li>
            </ul>
          </li>
        </ul>

    </nav>

    <section>
        <h1>Deals</h1>

        <table>
            <tr>
                <form action = "" method = "POST" novalidate>
                    {{search_form.hidden_tag()}}
                    <td>{{search_form.search_bar}}</td>
                    <td>{{search_form.submit(id="deals_search_button")}}</td>
                </form>
            </tr>
            <tr>
                <th><a href="{{url_for('deals_bp.deals', prev_sort=prev_sort, order=order, sort='name', page=page, filter=filter, error='None')}}">Deal Name</a></th>
                <th>Deal Stage</th>
                <th>Close Date</th>
                <th>Deal Owner</th>
                <th>Close Amount</th>
                <th>Goal</th>
                <th><a href="{{url_for('deals_bp.deals', prev_sort=prev_sort, order=order, sort='name', page=page, filter=filter, error='None')}}">Associated Contacts</a></th>
                <th>Associated Companies</th>
                <th></th>
            </tr>
            
            {% for form in forms %}
                <tr>
                    <form action="{{url_for('deals_bp.edit_deal', deal_id=form.deal_id.data, filter=filter, prev_sort=prev_sort, sort=sort, page=page, order=order, error=error)}}" method = "POST">
                        {{form.hidden_tag()}}

                        <td>{{form.name()}}
                            {% for error in form.name.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        </td>

                        <td>{{form.stage()}}
                            {% for error in form.stage.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        </td>

                        <td>{{form.date()}}</td>
                        <td>{{form.owner()}}</td>
                        <td>{{form.amount()}}</td>
                        <td>{{form.goal()}}</td>
                        <td>{{form.associated_contact()}}</td>
                        <td>{{form.associated_company()}}</td>
                        <td>{{form.submit(value = "Edit Deal")}}</td>
                    </form>
                </tr>
            {% endfor %}

            <tr>
                <form action = "{{url_for('deals_bp.add_deal', filter=filter, prev_sort=prev_sort, sort=sort, page=page, order=order, error=error)}}" method="POST">
                    {{add_deal.hidden_tag()}}

                    <td>{{add_deal.name()}}
                        {% for error in add_deal.name.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </td>

                    <td>{{add_deal.stage()}}
                        {% for error in add_deal.stage.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </td>

                    <td>{{add_deal.date()}}</td>
                    <td>{{add_deal.owner()}}</td>
                    <td>{{add_deal.amount()}}</td>
                    <td>{{add_deal.goal()}}</td>
                    <td>{{add_deal.associated_contact()}}</td>
                    <td>{{add_deal.associated_company()}}</td>
                    <td>{{add_deal.submit(value="Add Deal")}}</td>
                </form>
            </tr>
        </table>
    </section>

    <section id="errors">
        {% if error != 'None' %} 
            <p>{{error}}</p>
        {% endif %}
    </section>

</body>
{% endblock %}