{% extends "base_no_turbo.html" %}

{% block main_content %}
<body>
    <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('contacts_bp.contacts') }}">Contacts</a></li>
          <li><a href ="{{url_for('deals_bp.deals')}}">Deals</a></li>
          <li><a href="{{ url_for('teams.team') }}">Team</a></li>
          <li><a href="{{ url_for('auth.profile') }}">Profile</a></li>
        </ul>
    </nav>
        <svg viewBox="0 0 960 300">
            <symbol id="s-text">
              <text text-anchor="middle" x="50%" y="80%">DEALS </text>
              <text text-anchor="middle" x="52%" y="80%">DEALS </text>
              
            </symbol>
          
            <g class = "g-ants">
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
            </g>
          </svg>
          <div class="left-col">
          <div class="deals-box">
          <section id="deals_filter_buttons">
            <a href = "{{url_for('deals_bp.deals', prev_sort='None', order='ASC', sort='None', filter='all', page=1 , error='None')}}">All Deals</a>
          </section>
          </div>
          <div class="deals-box">
            <section id="deals_filter_buttons">
            <a href = "{{url_for('deals_bp.deals', prev_sort='None', order='ASC', sort='None', filter='assigned', page=1 , error='None')}}">My Assigned Deals</a>
        </section>
        </div>
        </div>

        <table id="deals_table">
            <tr>
                <form action = "" method = "POST" novalidate>
                    {{search_form.hidden_tag()}}
                    <td>{{search_form.search_bar}}</td>
                    <td>{{search_form.submit(id="deals_search_button")}}</td>
                </form>
            </tr>
            {% set prev_sort = sort %}
            <tr>
                <th><a href="{{url_for('deals_bp.deals', prev_sort=prev_sort, order=order, sort='name', page=page, filter=filter, error='None')}}">Deal Name</a></th>
                <th><a href="{{url_for('deals_bp.deals', prev_sort=prev_sort, order=order, sort='stage', page=page, filter=filter, error='None')}}">Deal Stage</a></th>
                <th><a href="{{url_for('deals_bp.deals', prev_sort=prev_sort, order=order, sort='close_date', page=page, filter=filter, error='None')}}">Close Date</a></th>
                <th><a href="{{url_for('deals_bp.deals', prev_sort=prev_sort, order=order, sort='owner', page=page, filter=filter, error='None')}}">Deal Owner</a></th>
                <th><a href="{{url_for('deals_bp.deals', prev_sort=prev_sort, order=order, sort='amount', page=page, filter=filter, error='None')}}">Closed Amount</a></th>
                <th><a href="{{url_for('deals_bp.deals', prev_sort=prev_sort, order=order, sort='goal', page=page, filter=filter, error='None')}}">Goal</a></th>
                <th><a href="{{url_for('deals_bp.deals', prev_sort=prev_sort, order=order, sort='associated_contact', page=page, filter=filter, error='None')}}">Associated Contacts</a></th>
                <th><a href="{{url_for('deals_bp.deals', prev_sort=prev_sort, order=order, sort='associated_company', page=page, filter=filter, error='None')}}">Associated Company</a></th>
                <th>Edit Deal</th>
                <th>Remove Deal</th>
           </tr>
            
            {% for form in forms %}
                <tr>
                    <form action="{{url_for('deals_bp.edit_deal', deal_id=form.deal_id.data, filter=filter, prev_sort=prev_sort, sort=sort, page=page, order=order, error=error)}}" method = "POST">
                        {{form.hidden_tag()}}

                        <td>{{form.name()}}
                            {% for error in form.name.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        </td>

                        <td>{{form.stage()}}
                            {% for error in form.stage.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        </td>

                        <td>{{form.date()}}</td>
                        <td>{{form.owner()}}</td>
                        <td>{{form.amount()}}</td>
                        <td>{{form.goal()}}</td>
                        <td>{{form.associated_contact()}}</td>
                        <td>{{form.associated_company()}}</td>
                        <td>{{form.submit(value = "Edit Deal")}}</td>
                    </form>

                    <td><a href = "{{url_for('deals_bp.remove_deal', deal_id=form.deal_id.data, prev_sort=prev_sort, order=order, sort=sort, filter=filter, page=page, error=error)}}">Remove</a></td>
                </tr>
            {% endfor %}

            <tr>

               <form action = "{{url_for('deals_bp.add_deal', filter=filter, prev_sort=prev_sort, sort=sort, page=page, order=order, error=error)}}" method="POST">
                    {{add_deal.hidden_tag()}}

                    <td>{{add_deal.name()}}
                        {% for error in add_deal.name.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </td>

                    <td>{{add_deal.stage()}}
                        {% for error in add_deal.stage.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </td>

                    <td>{{add_deal.date()}}</td>
                    <td>{{add_deal.owner()}}</td>
                    <td>{{add_deal.amount()}}</td>
                    <td>{{add_deal.goal()}}</td>
                    <td>{{add_deal.associated_contact()}}</td>
                    <td>{{add_deal.associated_company()}}</td>
                    <td>{{add_deal.submit(value="Add Deal")}}</td>
                </form>
            </tr>
        </table>
    </section>

    <section id="errors">
        {% if error != 'None' %} 
            <p>{{error}}</p>
        {% endif %}
    </section>
</body>
{% endblock %}