{% extends "base_no_turbo.html" %}
{% block main_content %}
<body> 
    {% if user.team_id %} 
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('contacts_bp.contacts') }}">Contacts</a></li>
        <li><a href ="{{url_for('deals_bp.deals')}}">Deals</a></li>
        <li><a href="{{ url_for('teams.team') }}">Team</a></li>
        <li><a href="{{ url_for('auth.profile') }}">Logout</a></li>
      </ul>
  </nav>
  {% endif %}

    <section id="dashboard">
        <section>
          <h2>Deals Closed vs Goal</h2>
          <section>

            {{goal_closed_diagram|safe}}
          </section>
        </section>

        <section>
          <h2>Deals Forecast</h2>
          <section>
            {{deals_forecast_diagram|safe}}
          </section>
        </section>

        <section>
          <h2>Deal Stage Funnel</h2>
          {% if conversions != None %}
          <table>
            <tr>
              <th>Deal Stage Funnel</th>
              <th>Next Step Conversion</th>
              <th>Cumulative Conversion</th>
            </tr>

            
              <tr>
                <td rowspan="6">{{deal_stage_diagram|safe}}</td>
                    {% for conversion in conversions %} 
                        <tr>
                          <td>{{conversions[conversion][0]}}&#37</td>
                          <td>{{conversions[conversion][1]}}&#37</td>
                        </tr>
                    {% endfor %}                 
              </tr>
            
          </table>
          {% else %} 
            <section>{{deal_stage_diagram|safe}}</section>
          {% endif %}
        </section>

        <section>
          <h2>Activity this month</h2>
          <section>
            {{activity_diagram|safe}}
          </section>
        </section>
    </section>

</body>
{% endblock %}