{% extends "base_no_turbo.html" %}
{% block main_content %}
    <body>
        <nav>
            <ul>
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('contacts_bp.contacts') }}">Contacts</a></li>
              <li><a href ="{{url_for('deals_bp.deals')}}">Deals</a></li>
              <li><a href="{{ url_for('teams.team') }}">Team</a></li>
              <li class="dropdown">
                <a href="#">Profile</a>
                <ul class="dropdown-menu">
                    <li><a onclick="logout();" href="{{ url_for('auth.profile') }}">Logout</a></li>
                </ul>
              </li>
            </ul>
    
        </nav>
        
        <section id="invite_page">
            <section>
                <h1>Invite members</h1>
            </section>
           
            <form id="send_invite" action = "" method = "POST">   
                {{ form.hidden_tag() }}
                
                <section>
                    {{ form.email(placeholder="Email Address") }}
                    {% for error in form.email.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </section>
               
                <section>
                    {{ form.submit()}}
                </section>
                
            </form>
        <p>{{response}}</p>
        </section>
        
    </body>
{% endblock %}