{% extends "base_no_turbo.html" %}

{% block main_content %}
    <body id="login_body">
        
        <div id="login_box" class="box">
            <div class="login_container">
                <!--<img src="../static/sherpa_logo.png" height="50px" width="50px" alt="Sherpa's logo">-->
                <h1 id="login_heading" class="Heading">Login</h1>
                <form id="login_form" method="POST" novalidate>
                    {{ form.hidden_tag() }}
                    {% for error in form.email.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                    
                    <i id="email_symbol"class="fa-solid fa-envelope"></i>
                    {{ form.email() }}
                    <br>
                    
                    {% for error in form.password.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                    
                    <br>
                    <i id="password_symbol" class="fa-solid fa-lock"></i>
                    <div>{{ form.password() }}</div>
                    <br>
                    <div class="loginRegisterSubmit">{{ form.submit(id="login") }}</div>
                    <br>
                </form>
                <p id="register_link" class="loginSubmitP"> <a class = "loginRegisterLink" href="/signup">Register here</a>.</p>
            </div>
        </div>
    </body>
{% endblock %}