{% extends "base_no_turbo.html" %}
{% block main_content %}
    <body>
        <nav>
            <ul>
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('contacts_bp.contacts') }}">Contacts</a></li>
              <li><a href ="{{url_for('deals_bp.deals')}}">Deals</a></li>
              <li><a href="{{ url_for('teams.team') }}">Team</a></li>
              <li><a href="{{ url_for('auth.profile') }}">Profile</a></li>
            </ul>
          </nav>
        
        <section id="logout">
            <section>
                <h1>Your Profile</h1>
                <p>Email: {{ user["email"] }}</p>
                <p>Team: {{ team["name"] }}</p>
            </section>
            <img src="{{ url_for('static', filename='defaultpp.png' )}}">
            <section>
                <h2>Logout</h2>
                <form action = "" method = "POST">
                    {{ form.hidden_tag() }}
                    {{ form.submit() }}
                </form>

            </section>
        </section>

    </body>
{% endblock %}