{% extends "base_no_turbo.html" %}

{% block main_content %}
    <body>
        <div class="box">
        <div class="container">
                <h1 class="Heading">Sign up</h1>
                <p class="loginSubmitP">
                        Welcome to Sherpa. To register please fill out all the forms below 
                        and then press the register button to continue.
                </p>
        <form method="POST", novalidate>
        {{ form.hidden_tag() }}
        {% for error in form.name.errors %}
                <div class="signup_error">{{ error }}</div>
        {% endfor %}
        <i class="fa-solid fa-user"></i>
        {{ form.name() }}
        <br>
        {% for error in form.email.errors %}
                <div class="signup_error">{{ error }}</div>
        {% endfor %}
        <i class="fa-solid fa-envelope"></i>
        {{ form.email() }}
        <br>
        {% for error in form.password.errors %}
                <div class="signup_error">{{ error }}</div>
        {% endfor %}
        <i class="fa-solid fa-lock"></i>
        {{ form.password() }}
        <br>
        {% for error in form.password2.errors %}
               <div class="signup_error">{{ error }}</div>            
        {% endfor %}
        <i class="fa-solid fa-lock"></i>
        {{ form.password2() }}
        <br>
        <br>
        <div class="loginRegisterSubmit">{{ form.submit(id="register") }}</div>
        <br>
        <p>
                If you already have an account with us please click <a class = "loginRegisterLink" href="/login">here</a> to login.
        </p>
      </form>
</div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
    {% endblock %}
