{% extends "base_no_turbo.html" %}
{% block main_content %}
<body>  
  <nav class="navbar navbar-expand-lg navbar-light bg-ubuntu">
    <a class="navbar-brand text-white" href="#">SHERPA</a>
    <button class="navbar-toggler" type="button" data-target="#navbarNav" data-toggle="collapse"  aria-label="Toggle navigation" aria-controls="navbarNav" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{{ url_for('contacts_bp.contacts') }}">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href ="{{url_for('deals_bp.deals')}}">Deals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{{ url_for('teams.team') }}">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Profile</a>
      <li class="nav-item">
        <a  class="nav-link text-white" onclick="logout();" href="{{ url_for('auth.profile') }}">Logout</a>
      </li>
    </ul>
  </div>
</nav>

  {% if user_details.team_id %}
  <section id="team_page">
    
      <section>
          <h1 id="team_name">Team: {{ team["name"] }}</h1>
      </section>
          
          <table id="team_table">
            <tr>
              <td> {% if user_details.admin_status == True %}
                <a  id="team_invite" href="{{ url_for('teams.invite') }}">Invite Member</a>
                  {% endif %} 
              </td>
              <td id="remove_team"><form action = "" method = "POST">
                {{ form.hidden_tag() }}
                <div>
                  {{ form.sure_checkbox() }}
                  {{ form.sure_checkbox.label }}
                
                  {% for error in form.sure_checkbox.errors %}
                  <div>{{ error }}</div>
                  {% endfor %}
                </div>
               
                <div>
                  {{ form.submit() }}
                </div>  
                
              </form></td>
            </tr>
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
            {% for team_member in team_members %}
              <td>{{ team_member.name }}</td>
              <td>{{ team_member.email }}</td>
            </tr>
            {% endfor %}

          </table>
            
      </section>
  </section>
    
  {% else %}
  <section>
      <p>You are not a member of a team. Either accept an invite or create your own to be a member of an team.</p>
      <a href="create_team">Create A Team</a>
  </section>
  {% endif %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
{% endblock %}