*{
    font-family: sans-serif;
}
body{
    background-color: white;
    background-image: url("../static/login_bg.jpg"); /*https://www.vecteezy.com/vector-art/2742352-group-of-men-and-women-happy-with-business-up-on-a-mountain-with-sunset-background, https://gratisography.com/?s=mountains */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 5% ;
}

h1{
    color:white;
    margin-top: 2%;
    margin-left: 5%;
    padding-bottom: 2%;
}
.contacts_background{
    background: rgb(15, 8, 8, 0.5);
    border-radius: 30px;
    position: fixed;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90%;
    margin-top: 15%;
    background: rgb(15, 8, 8, 0.5);
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}

.Heading{
    color: white;
    text-align: center;
    
}
.loginSubmitP{
    color: white;
    text-align: center;
}
p{
    color: white;
}
input{
    border-radius: 30px;
    height: 30px;
    text-indent: 30px;
    padding-right: 35%;
}

i{
    color: black;
    position:absolute;
    margin-top: 10px;
    margin-left: 10px;
    
}
::placeholder{
    padding-left: 20px;
    overflow: visible;
}

.loginRegisterSubmit{
    padding-right: 65%;
}

.loginRegisterLink{
    color:red;
}

nav{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  section section  a {
    color: white;
    padding: 2%;
    margin-left: 2%;
    margin-bottom: 12%;
    background-color: #333;
    border-radius: 5px;
    text-decoration: none;
  }

  section section  a:hover{
    background-color: #111;
  }

  body div section table{
    padding-top: 3%;
    padding-left: 2%;
  }

  #contacts_search_button{
    margin-left: 38%;
    text-align: center;
    display: flex;
  }

  #contacts_search_button:hover{
    color: white;
    background-color: #111;
  }

  #search_icon_contacts {
    color: black;
    margin-top: 4%;
    margin-left: 3%;
  }

  body section table tr th{
    color: white;
    margin-top: 7%;
    margin-left: 10.8%;
  }

  .contacts_status{
    height: 36px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-indent: 15px;
    border-width: 3px;
  }
  .contacts_status:hover{
    background-color:#111;
    color: white;
  }
  body div section p{
    margin-left: 2%;
  }
  #remove_contact{
    margin-left: 10%;
    background-color: white;
    border: 2px solid;
    border-color: #111;
    padding: 3% 10% 3% 10%;
    border-radius: 30px;
  }
  #remove_contact:hover{
    color: white;
    background-color: #111;
  }
  body .contacts_background section table tbody tr th a{
    color: white;
    background-color: #333;
    padding: 3% 20% 3% 10%;
    border-radius: 30px;

  }
  #sorting_contacts_name{
    color:white;
    margin-top: 7%;
    margin-left: 10.8%;
    
  }
  #sorting_contacts_email{
    color:white;
    margin-top: 7%;
    margin-left: 24.5%;
  }
  #sorting_contacts_phone_number{
    color:white;
    margin-top: 7%;
    margin-left: 41%;
  }
  #sorting_contacts_{
    color:white;
    margin-top: 7%;
    
  }
  #sorting_contacts_{
    color:white;
    margin-top: 7%;
    
  }
  .contacts_table_heading{
    color: white;
    background-color: #333;
    border-radius: 30px;
  }

  body div section table tbody tr th a:hover{
    color: white;
    background-color: #111;

  }

  .contact_save_add_button{
    width:100%;
    text-indent: 4px;
    padding-right: 10%;
    text-align: center;
    position: relative;
  }
  .contact_save_add_button:hover{
    color: white;
    background-color: #111;
  }

  #dashboard {
    display: grid;
    grid-template-columns: auto auto;
    
  }

  #dashboard section{
    background-color: #FFF8DC;
    height: 250px;
    margin: 25px;
    padding: 25px;

  }

  #dashboard section *{
    color: black;
  }

  #dashboard section:hover{
    box-shadow: 5px 5px #606060;
    
  }
