{% extends "base.html" %}

{% block main_content %}
<body>
    <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('invite') }}">Invite</a></li>
          <li><a href="{{ url_for('contacts') }}">Contacts</a></li>
          <li><a href="{{ url_for('createTeam') }}">Create Team</a></li>
          <li><a href="{{ url_for('profile') }}">Profile</a></li>
        </ul>
    </nav>
    <h1>Contacts</h1>
    
    <section id="contacts-list">
        <section>
            <p><a href = "{{url_for('contacts')}}">All Contacts</a></p>
            <p><a href = "{{url_for('contacts', filter='assigned')}}">My Assigned Contacts</a></p>
            <p><a href = "{{url_for('contacts', filter='unassigned')}}">Unassigned Contacts</a></p>
        </section>

        <table>
            <tr>
                <th>Name</th>
                <th>email</th>
                <th>Phone Number</th>
                <th>Contact Owner</th>
                <th>Company</th>
                <th>Status</th>
                <th>Edit Contact</th>
                <th>Remove Contact</th>
            </tr>
            {% for contact in contacts %}
                <tr>
                    <form action = "{{url_for('edit_contact', contact_id=contact.contact_id)}}" method = "POST">
                        {{form.hidden_tag()}}
                    
                        <td>{{form.name(value = contact.name)}}
                            {% for error in form.name.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        </td>

                        <td>{{form.email(value = contact.email)}}
                            {% for error in form.email.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        </td>

                        <td>{{form.phone_number(value = contact.phone_number)}}</td>

                        <td>{% for error in form.contact_owner.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                            {{form.contact_owner(value = contact.contact_owner)}}
                        </td>
                            

                        <td>{{form.company(value = contact.company)}}</td>

                        <td>{{form.status(value = contact.status)}}</td>

                        <td>{{form.submit(value="Save Changes")}}</td>
                    </form>
                    
                    <td><a href = "{{url_for('remove_contact',contact_id=contact.contact_id)}}">Remove</a></td>
                </tr>
            {% endfor %}

            <tr>
                <form action = "{{url_for('add_contact')}}" method = "POST">
                    {{form.hidden_tag()}}
                
                    <td>{{form.name()}}
                        {% for error in form.name.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </td>

                    <td>{{form.email()}}
                        {% for error in form.email.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </td>

                    <td>{{form.phone_number()}}</td>

                    <td>{{form.contact_owner()}}</td>

                    <td>{{form.company()}}</td>

                    <td>{{form.status()}}</td>

                    <td>{{form.submit()}}</td>
                </form>
            </tr>
        </table>
    </section>
    
</body>
{% endblock %}