<section id = "activity_box" class = "activity_box">
    {% if activity == 'activity' %}
        <p>Activity.....</p>
    {% elif activity == 'emails' %}
        <form action = "" method = "POST">
            <p>To: {{ contact.email }}</p>
            <p>From: {{ gmail_email }}</p>
            {{form.hidden_tag()}}
            {{form.subject.label}}
            {{form.subject()}}
            <br>
            {{form.message.label}}
            {{form.message}}
            <br>
            {{form.submit()}}
        </form>
        {% for thread in threads %}
            <article>
                <p>{{ thread[0]["subject"] }}</p>
                {% for email in thread %}
                <section>
                    <p>{{ email["timestamp"] }}</p>
                    <p><b>{{ email["sender_email"] }}</b></p>
                    <p>{{ email["recipient_email"] }}</p>
                    <p>{{ email["body"] }}</p>
                </section>
                <br>
                {% endfor %}
            </article>
            <br><br>
        {% endfor %}
    {% elif activity == 'notes' %}
        <section>
            <form action = "{{url_for('contact', contact_id=contact.contact_id, activity='notes')}}" method = "POST">
                {{noteForm.hidden_tag()}}

                {% for error in noteForm.note.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
                {{noteForm.note()}}
                <p>140 character limit per note</p>
                <br>
                {{noteForm.submit()}}
            </form>

            {% if response != "" %} 
                {{response}}
            {% endif %}
        </section>
        <br>
        <section>
            {% if notes %}
                {% for note in notes %}
                    <section id = "note">
                        <p>Note by {{note.author}} on {{note.date}}</p>
                        <p>{{note.note}}</p> 
                        {% set contact_id = contact.contact_id + "r" %}
                        <br>
                        <p><a href = "{{url_for('remove_note', note_id=note.note_id, contact_id=contact.contact_id)}}">Remove</a></p>
                    </section>        
                {% endfor %}
            {% endif %}
        </section>


    {% else %}
        <p>other....</p>
    {% endif %}
</section>