{% extends "base.html" %}

{% block main_content %}
    <body>
        <form method="POST", novalidate>
        {{ form.hidden_tag() }}
        {% for error in form.team_id.errors %}
                <div>{{ error }}</div>
        {% endfor %}
        {{ form.team_id.label }}
        {{ form.team_id() }}
        <br>
        {% for error in form.password.errors %}
                <div>{{ error }}</div>
        {% endfor %}
        {{ form.password.label }}
        {{ form.password() }}
        <br>
        {% for error in form.password2.errors %}
               <div>{{ error }}</div>            {% endfor %}
        {{ form.password2.label }}
        {{ form.password2() }}
        <br>
        {{ form.submit(id="register") }}
        <br>
      </form>
    </body>
{% endblock %}