{% extends "base.html" %}
{% block main_content %}
<body>  
  <nav>
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('invite') }}">Invite</a></li>
      <li><a href="{{ url_for('contacts') }}">Contacts</a></li>
      <li><a href="{{ url_for('createTeamForm') }}">Create Team</a></li>
    </ul>
  </nav>
<body>
  {% if user_details.team_id %}
    <section>
      <h1>Organisation</h1>
      {{ user_details["team_id"] }}
    </section>
  {% else %}
    <section>
      <p>You are not a member of an organisation. Either accept an invite or create your own to be a member of an organisation</p>
      <a href="create_team">Create A Team</a>
    </section>
  {% endif %}
</body>
{% endblock %}