{% extends "base.html" %}
{% block main_content %}
<body> 
    {% if user_details.team_id %} 
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('contacts') }}">Contacts</a></li>
            <li><a href="{{ url_for('team') }}">Team</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
        </ul>
    </nav>
    {% endif %}

    <section id="dashboard">
        <section>
          <h2>Deals Closed vs Goal</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non massa vel orci egestas consequat ac eu ligula. In posuere nec orci in vestibulum. Curabitur pharetra hendrerit dui sagittis cursus. Vestibulum sagittis euismod lacus in venenatis. Mauris eu metus id nulla rhoncus dapibus eget vel lacus. Proin urna eros, semper eu nisl sed, fermentum euismod urna. Fusce consequat risus et malesuada posuere. Mauris fringilla orci ut nibh tincidunt, eu varius enim volutpat. Praesent eu odio ut eros laoreet tempus. Maecenas vitae dictum nunc.
          </p>
        </section>

        <section>
          <h2>Deals Forecast</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non massa vel orci egestas consequat ac eu ligula. In posuere nec orci in vestibulum. Curabitur pharetra hendrerit dui sagittis cursus. Vestibulum sagittis euismod lacus in venenatis. Mauris eu metus id nulla rhoncus dapibus eget vel lacus. Proin urna eros, semper eu nisl sed, fermentum euismod urna. Fusce consequat risus et malesuada posuere. Mauris fringilla orci ut nibh tincidunt, eu varius enim volutpat. Praesent eu odio ut eros laoreet tempus. Maecenas vitae dictum nunc.
          </p>
        </section>

        <section>
          <h2>Deal Stage Funnel</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non massa vel orci egestas consequat ac eu ligula. In posuere nec orci in vestibulum. Curabitur pharetra hendrerit dui sagittis cursus. Vestibulum sagittis euismod lacus in venenatis. Mauris eu metus id nulla rhoncus dapibus eget vel lacus. Proin urna eros, semper eu nisl sed, fermentum euismod urna. Fusce consequat risus et malesuada posuere. Mauris fringilla orci ut nibh tincidunt, eu varius enim volutpat. Praesent eu odio ut eros laoreet tempus. Maecenas vitae dictum nunc.
          </p>
        </section>

        <section>
          <h2>Activity this month</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non massa vel orci egestas consequat ac eu ligula. In posuere nec orci in vestibulum. Curabitur pharetra hendrerit dui sagittis cursus. Vestibulum sagittis euismod lacus in venenatis. Mauris eu metus id nulla rhoncus dapibus eget vel lacus. Proin urna eros, semper eu nisl sed, fermentum euismod urna. Fusce consequat risus et malesuada posuere. Mauris fringilla orci ut nibh tincidunt, eu varius enim volutpat. Praesent eu odio ut eros laoreet tempus. Maecenas vitae dictum nunc.
          </p>
        </section>
    </section>

</body>
{% endblock %}