{% extends "base.html" %}
{% block main_content %}
<body> 
  {% if user_details.team_id %} 
  <nav>
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('contacts') }}">Contacts</a></li>
      <li><a href="{{ url_for('team') }}">Team</a></li>
      <li><a href="{{ url_for('profile') }}">Profile</a></li>
    </ul>
  </nav>
  {% endif %}
<body>
  {% if user_details.team_id %}
    <section>
      <h1>Team</h1>
      {{ user_details["team_id"] }}
    </section>
  {% else %}
    <section>
      <br>
      <br>
      <p>You are not a member of a team. Either accept an invite or create your own to be a member of an team.</p>
      <a href="create_team">Create A Team</a>
    </section>
  {% endif %}
</body>
{% endblock %}