{% extends "base.html" %}
{% block main_content %}
    <body>
        <nav>
            <ul>
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('invite') }}">Invite</a></li>
              <li><a href="{{ url_for('contacts') }}">Contacts</a></li>
              <li><a href="{{ url_for('createTeamForm') }}">Create Team</a></li>
            </ul>
        </nav>
        <div class="invite_form">
            <form action = "" method = "POST">
                <p>Invite a member to join your organisation</p>
                {{ form.hidden_tag() }}

                {{ form.email.label }}
                {{ form.email() }}
                {% for error in form.email.errors %}
                <div>{{ error }}</div>
                {% endfor %}
                {{ form.submit(id="invite") }}
            </form>
        </div>
        <p>{{response}}</p>
    </body>
</html>
{% endblock %}