<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <title>Sherpa CRM</title>
    </head>
    <body>
        <form action = "" method = "POST">
            <p>Invite a member to join your organisation</p>
            {{ form.hidden_tag() }}

            {{ form.email.label }}
            {{ form.email() }}
            {% for error in form.email.errors %}
            <div>{{ error }}</div>
            {% endfor %}
            {{ form.submit(id="invite") }}
        </form>

        <p>{{response}}</p>
    </body>
</html>