{% extends "base.html" %}

{% block main_content %}
    <body>
        <div class="box">
            <div class="container">
                <!--<img src="../static/sherpa_logo.png" height="50px" width="50px" alt="Sherpa's logo">-->
                <img src="{{url_for('static', filename='sherpa_logo.png')}}" height="50px" width="50px" alt="Sherpa's logo">
                <h1>Login</h1>
                <form method="POST" novalidate>
                    {{ form.hidden_tag() }}
                    {% for error in form.email.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                    {{ form.email.label }}
                    {{ form.email() }}
                    <br>
                    {% for error in form.password.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                    {{ form.password.label }}
                    {{ form.password() }}
                    <br>
                    {{ form.submit(id="login") }}
                    <br>
                </form>
                <p>Have you created an account yet? To register please click <a class = "login_link" href="C:\Users\nell2\OneDrive\Documents\GitHub\crm\templates\signup.html">here</a>.</p>
            </div>
        </div>
    </body>
{% endblock %}