{% extends "base.html" %}
{% block main_content %}
    <body>
        <nav>
            <ul>
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('contacts') }}">Contacts</a></li>
              <li><a href="{{ url_for('team') }}">Team</a></li>
              <li><a href="{{ url_for('profile') }}">Profile</a></li>
            </ul>
          </nav>
        <div class="invite-form">
        <h1>
            Your Profile
        </h1>
        <div class="invite_form">
            <p>Logout</p>
            <form action = "" method = "POST">
                {{ form.hidden_tag() }}
                <div class="send_invite_form_email">{{ form.submit(id="invite") }}</div>
            </form>
        </div>
        <p>Email: {{ user["email"] }}</p>
        <p>Team: {{ team["name"] }}</p>
        <p id="invite-response">{{response}}</p>
    </body>
{% endblock %}