<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Sherpa Sign up</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
    <body>
        <img src="sherpa_logo.PNG" height="50px" width="50px" alt="Sherpa's logo">
        <h1>Sign up</h1>
        <form>
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username">
            <p>Password</p>
            <input type="text" name="" placeholder="Enter Password">
            <input type="text" name="" placeholder="Re-enter Password">
            <input type="Submit" name="" placeholder="Sign Up">
        </form>
    </body>

</html>