<body>
    <form method="POST", novalidate>
        {{ form.hidden_tag() }}
        {% for error in form.email.errors %}
                <div>{{ error }}</div>
        {% endfor %}
        {{ form.email.label }}
        {{ form.email() }}
        <br>
        {% for error in form.password.errors %}
                <div>{{ error }}</div>
        {% endfor %}
        {{ form.password.label }}
        {{ form.password() }}
        <br>
        {% for error in form.password2.errors %}
               <div>{{ error }}</div>            {% endfor %}
        {{ form.password2.label }}
        {{ form.password2() }}
        <br>
        {{ form.submit(id="register") }}
        <br>
      </form>
</body>